<body style="background-color:#31F652;">
<div class="container">
  <p id="notice"><%= notice %></p>

  <h6>
    <strong>Name:</strong>
    <%= @tier_list.name %>
  </h6>
  <h6>
    <strong>Description:</strong>
    <%= @tier_list.description %>
  </h6>

  <h6>
    <strong>Number of tiers:</strong>
    <%= @tier_list.numTiers %>
  </h6>

  <button type="button" class="btn btn-primary text-white"> <%= link_to 'Edit', edit_tier_list_path(@tier_list), class:"nav-link" %> </button>
  <button type="button" class="btn btn-primary text-white" color="inherit"> <%= link_to 'Back', tier_lists_path, class:"nav-link" %> </button>
  </body>
</div>
